parameters:
    anh_markup.event_listener.class: Anh\MarkupBundle\EventListener\MarkupListener
    anh_markup.validator.class: Anh\MarkupBundle\Validator\Constraints\MarkupIsValidValidator
    anh_markup.parser.class: Anh\MarkupBundle\Parser

services:
    anh_markup.event_listener:
        class: %anh_markup.event_listener.class%
        arguments:
            - @annotation_reader
            - @anh_markup.parser
        tags:
            - { name: doctrine.event_subscriber }

    anh_markup.validator:
        class: %anh_markup.validator.class%
        arguments:
            - @anh_markup.parser
        tags:
            - { name: validator.constraint_validator, alias: anh_markup_validator }

    anh_markup.parser:
        class: %anh_markup.parser.class%
        arguments:
            - @event_dispatcher
